<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Email:</li>
          <li><a href="mailto:{{ site.email2 }}">{{ site.email2 }}</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Snail Mail:</li>
          <li>201 Lewis Hall</li>
          <li>Notre Dame, IN 46556</li>
        </ul>
      </div>

    </div>

  </div>

</footer>
